html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.save-note {
  display: none;
}

.list-container i {
  font-size: 1.6rem;
  cursor: pointer;
  color: #474747 !important;
  cursor: pointer;
}

.note-textarea,
.note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}


.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
}


.note-title:read-only,
.note-textarea:read-only {
  color: #757575;
}


.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.list-container {
  padding-left: 0;
}


.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #000;
  font-size: 1.5rem;
}
.fa,
.fas {
  font-size: 2rem;
  margin-left: 3rem;
  margin-right: 2rem;
  font-weight: 900;
  float: right;
}
.marginImg {
  margin-right: 1rem;
}
.navbar-brand {
  font-size: 2.171875rem;
}
.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}

.bg-dark {
  background-color: #595a5c !important;
}

.btn-primary {
  color: #fff;
  background-color: #595a5c;
  border-color: #595a5c;
}

.jumbotron {
  border: 1px solid #000;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.btn {
  border: 1px solid #000;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}